.error {
  font-size: 0.7em;
  color: #900;
  background-color : #ffff00;
}

.divisor {
  clear:both;
  height:0;
  font-size: 1px;
  line-height: 0px;
}
body{
    font-family: Roboto; 
}
#login fieldset {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 230px;
  margin-left: -115px;
  height: 160px;
  margin-top: -80px;
  padding:10px;
  border:1px solid #ccc;
  background-color: #eee;
}

#login legend {
  font-size: 1.3em;
  font-weight:bold;
  color:#333;
}

#login .campo {
  margin-top:8px;
  margin-bottom: 10px;
}

#login label {
  font-size:0.8em;
  font-weight: bold;
}


#login input[type="text"], #login input[type="password"] {
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
  height:18px;
  width:220px;
}

#login input[type="submit"] {
  width:100px;
  height:30px;
  padding-left:0px;
}

.pagproductos body, .pagcesta body  {
  background: #666;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

#contenedor { 
  width: 90%;
  background: #fff;
  margin: 0 auto;
  border:  5px solid black;
  text-align: left;
} 

#encabezado {
  padding: 0 10px;
  margin-bottom: 20px;
  color: #d30000;
  border-bottom: 5px solid black;
} 

#encabezado h1 {
  margin: 0; 
  padding: 10px 0; 
}

.carrito{
    width: 40px;
    height: 40px;  
}

.pagproductos #cesta {
  float: right;
  width: 25%;
  background-color: #fff;
  border: 13px solid #474343;
}
.pagproductos #cesta h3 {
  margin-left: 10px;
  margin-right: 10px;
}
.pagproductos #cesta p {
  margin-left: 10px;
  margin-right: 10px;
}

.pagproductos #cesta input[type="submit"] {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  width:100px;
  height:30px;
  padding-left:0px;
}

.pagproductos #productos {
  margin: 0.5em 10em 0 0.5em;
} 

.pagcesta #productos {
  margin: 10px;
  font-size: 12px;
} 

#cesta p{
    padding-bottom: 15px;
}

.cestaVacia{
    margin-left: 30px;
    font-size: 15px;
}

.cantidad {
    width : 20%;
    float:left;
    font-size: 15px
}

.codigo{
    width : 40%;
    float:left;
    font-size: 15px
}
 
.precio{
    float:right;
    font-size: 15px
}
#productos .codigo {
  width: 20%;
  float: left;
  font-size: 12px;
} 
#productos .cantidad {
  width: 20%;
  float: left;
  font-size: 12px;
} 

#productos .nombre {
  width: 60%;
  float: left;
  font-size: 12px;
} 

#productos .precio {
  width: 20%;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
} 

#pie {
  margin-top: -20px;
  padding: 5px 5px 5px 5px;
  background-color: #dddddd;
  border-top:  5px solid black; 
} 

#pie input{
    margin-top: 15px;
    margin-left: 15px;
}

.cestaAccion1 {
 width: 100px;
  height: 55px;
  padding: 55px 0 0;
  border: 0;
  background: transparent url(pagar.png) no-repeat center top;
}

.cestaAccion2 {
  width: 100px;
  height: 55px;
  padding: 55px 0 0;
  border: 0;
  background: transparent url(vaciarTodo.png) no-repeat center top;
}

.cestaAccion3 {
  padding: 55px 0 0;
  border: 0;
  background: transparent url(vaciaruno.png) no-repeat center;
}

.borrar{
    width: 30px;
    height: 30px;
    float:right;
    margin-left: 20px;
    margin-top: -10px;
}

table.pago {
    width: 100%;
    align-content: center
}

th.pago , td.pago {
    text-align: left;
    padding: 8px;
}
td.precio{
    text-align: right;
}

tr.pago:nth-child(even){background-color: #ccc}

th.pago {
    background-color: #4CAF50;
    color: white;
}
